@model mysalecity.Models.task

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company.company_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
