@model IEnumerable<mysalecity.Models.task>



   

<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.js"></script>


<div class="container">
    <div class="row">
      
        <div class="col-md-12">

            @foreach (var item in Model)
        {




            <div class="card alert-danger" style=" margin:auto">
                <div class="card-body p-1 alert-success">
                    <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.text)</p>
                    <br />
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">с @Html.DisplayFor(modelItem => item.date_start)</li>
                        <li class="list-inline-item">по @Html.DisplayFor(modelItem => item.date_finish)</li>

                        <p class=""> @Html.DisplayFor(modelItem => item.info)</p>
                    </ul>
                    <div class=" btn-group " role="group" style="align-items:center ">

                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-primary btn-secondary " })
                        @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-success btn-secondary " })
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-secondary " })
                    </div>
                </div>
            </div>






    }

        </div>
    </div>
</div>
<br />
<p> @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-primary btn-block" })</p>