@model IEnumerable<mysalecity.Models.company>

@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @foreach (var item in Model)
    {


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card alert-danger">
                        <div class="card-header"> @Html.DisplayFor(modelItem => item.company_name) </div>
                        <div class="card-body">
                            <h4> @Html.DisplayFor(modelItem => item.category1.name) </h4>
                            <h6 class="text-muted">
                                @Html.DisplayFor(modelItem => item.city1.name), @Html.DisplayFor(modelItem => item.adress)
                            </h6>
                            <h6 class="text-muted"> @Html.DisplayFor(modelItem => item.web_adress)</h6>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        @Html.DisplayFor(modelItem => item.company_login)
                                </p>
                                <p> 
                                    @Html.DisplayFor(modelItem => item.company_password)
                                </p>
                                </div>
                                <div class="col-md-6">
                                    <p>  @Html.DisplayFor(modelItem => item.inn)</p>
                                    <p> @Html.DisplayFor(modelItem => item.company_status1.name)</p>
                                </div>
                            </div>
                            <div class="btn-group d-flex flex-row justify-content-center align-items-center">
                                @Html.ActionLink("Изменить", "Edit", new { id = item.id }, new { @class = "btn btn-primary btn-secondary " })
                                @Html.ActionLink("Детали", "Details", new { id = item.id }, new { @class = "btn btn-success btn-secondary " })
                                @Html.ActionLink("Удалить", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-secondary " })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <br />
    
    }
       <p>
           @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-primary btn-block" })
       </p>
